.slide {
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(30, 30, 30);
  font-weight: 600;
  max-width: 600px;
  height: 370px;

  .title {
    background: none;
    color: white;
    white-space: break-spaces;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin: 5px;
  }

  .description {
    background: none;
    color: white;
    white-space: break-spaces;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin: 5px;

    .offer {
      background: none;
      font-weight: 500;
      color: gold;
      margin: 0 3px;
    }
  }

  .button {
    border-radius: 25px;
    height: 45px;
    width: auto;
    text-align: center;
    background: none;
    border: 2px solid white;
    transition: 0.1s;
    padding: 6px 20px;
    margin: 20px;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }

  .button:active {
    background-color: #1ea17f;
  }

  .main-image {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    margin-top: 10px;
  }
}
