$max-height: 40vh;
$max-width: 600px;

.slide {
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(30, 30, 30);
  font-weight: 600;
  max-width: $max-width;
  height: $max-height;

  h2, p {
    position: relative;
    z-index: 1;
    height: auto;
    background: #FFF;
    margin: 8px;
    padding: 4px;
    border-radius: 5px;
    white-space: break-spaces;
  }

  .bottom-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.49);
    min-height: 130px;
    margin: 10px;

    .button-group {
      width: 45%;
      height: 45px;
      margin: 8px;
      padding: 4px;
      gap: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: none;

      .slider-button {
        border-radius: 5px;
        height: 45px;
        width: 100%;
        border: none;
        background-color: #d4e8e3;
        transition: 0.1s;
      }
      .slider-button:active{
        background-color: #1ea17f;
      }

      .sub-image {
        background-size: cover;
        border-radius: 5px;
        width: 70px;
        z-index: 1;
      }
    }
  }


}
