$max-height: 40vh;
$max-width: 600px;

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(30, 30, 30);
  font-weight: 600;
  max-width: $max-width;

  h2, p {
    position: relative;
    z-index: 1;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    margin: 8px;
    padding: 4px;
    border-radius: 2px;
  }

  img {
    min-height: $max-height;
    z-index: 0;
  }
}
