<div class="slide" [ngStyle]="{ 'background-image': 'url(' + offer.imgUrl + ')'}">
  <div class="sub-image" [ngStyle]="{ 'background-image': 'url(' + offer.subImgUrl + ')'}"></div>
  <h2 class="title">{{ offer.title }}</h2>
  <div class="description">
    <ng-container> {{ offer.description1 }}</ng-container>
    <span class="offer">{{ offer.offer }}</span>
    <ng-container>{{ offer.description2 }}</ng-container>
  </div>
  <input type="button" class="button" (click)="handleClick()" value="Join now">
</div>
