* {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.placeholders {
  background: white;
  padding: 5px;
  margin-bottom: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

  span {
    background: white;
  }
}
