<ng-container>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>

  <!--  CAROUSEL -->
  <ng-container *ngIf="carouselSlides | async as slides, else loading">
    <app-infinite-carousel [slides]="slides"></app-infinite-carousel>
  </ng-container>

  <ng-template #loading>
    <div class="loading-carousel">
      <div class="spinner"></div>
    </div>
  </ng-template>

  <!--  -->
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
</ng-container>

