<div>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <app-infinite-carousel></app-infinite-carousel>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
</div>
