<div>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <!--  CAROUSEL -->
  <div [ngSwitch]="this.loading">
    <app-infinite-carousel [slides]="carouselData" *ngSwitchCase="false"></app-infinite-carousel>
    <div class="loading-carousel" *ngSwitchCase="true">
      <div class="spinner"></div>
    </div>
  </div>

  <!--  -->
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
  <p class="placeholders">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusamus ad adipisci asperiores consectetur corporis cupiditate
      dignissimos ducimus iste iure laboriosam, magni molestias,
      nisi placeat, quidem quis quos reprehenderit voluptas voluptate?
    </span>
  </p>
</div>
