<div class="carousel">
  <div [ngSwitch]="offers.length > 0">

    <span *ngSwitchCase="true">
      <div class="carousel-container">
        <div (touchstart)="touchStarted($event)"
             (touchmove)="touchMoved($event)"
             (touchend)="touchEnded($event)"
             *ngFor="let offer of offers"
             [ngClass]="{'movingRight':movingRight , 'movingLeft':movingLeft}"
             class="slider-container"
        >
          <app-slide [offer]="offer"></app-slide>
        </div>
      </div>
    </span>

    <span *ngSwitchCase="false">
      <div class="loading-carousel">
        <div class="spinner"></div>
      </div>
    </span>

  </div>
</div>
