$max-height: 40vh;
$max-width: 600px;

* {
  height: $max-height;
}

.carousel {
  margin: 16px 0;
}


.carousel-container {
  position: relative;
  overflow: hidden;
}

.loading-carousel {
  background: linear-gradient(270deg, #1ea17f, #d4e8e3);
  background-size: 400% 400%;

  -webkit-animation: LoadingAnimation 4s ease infinite;
  -moz-animation: LoadingAnimation 4s ease infinite;
  animation: LoadingAnimation 4s ease infinite;
}

@-webkit-keyframes LoadingAnimation {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

/* :)) gradient animation stolen from https://www.gradient-animator.com/ */
