<div class="carousel">
  <div [ngSwitch]="offers.length > 0">

    <span *ngSwitchCase="true" class="loaded-carousel">
        <h2>{{ offers[currentOfferIndex].title }}</h2>
        <p>{{ offers[currentOfferIndex].description }}</p>
        <img alt="{{ offers[currentOfferIndex].title }}"
             fill
             ngSrc="{{offers[currentOfferIndex].imgUrl}}"
             priority>
    </span>

    <span *ngSwitchCase="false">
      <div class="loading-carousel">
      </div>
    </span>

  </div>
</div>
