$max-height: 40vh;
$max-width: 600px;

* {
  height: $max-height;
}

.carousel {
  margin: 5px 0;
}

.loaded-carousel {
  position: relative;
  max-width: $max-width;

  h2, p {
    position: relative;
    z-index: 1;
    height: auto;
    background: rgba(255, 255, 255, 0.5);;
  }

  img {
    min-height: $max-height;
    z-index: 0;
  }
}

.offer-background {
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.loading-carousel {
  background: linear-gradient(270deg, #1ea17f, #d4e8e3);
  background-size: 400% 400%;

  -webkit-animation: LoadingAnimation 4s ease infinite;
  -moz-animation: LoadingAnimation 4s ease infinite;
  animation: LoadingAnimation 4s ease infinite;
}


@-webkit-keyframes LoadingAnimation {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

/* :)) animation stolen from https://www.gradient-animator.com/ */
