$max-height: 40vh;
$max-width: 600px;

* {
  background: whitesmoke;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

title {
  display: none;
}
